{{#with challenge as |challenge|}}
<section id='singleChallenge' data-id="{{challenge.id}}">
  <h3 class='title'>
    {{challenge.title}}
  </h3>
  <h6> You can find the rules to the challenge here:
    {{challenge.link}}
  </h6>
</section>
{{/with}}
