{{#with challenge as |challenge|}}
<section id='singleChallenge' data-id="{{challenge.id}}">
  <h3 class='title'>
    {{challenge.title}}
  </h3>
  <a class='challenge-link' href="{{challenge.link}}" target=_blank>Find The Rules Here!</a>
</section>
{{/with}}
